.modal-dialog {
  .modal-title {
    font-size: 1.8rem;
    font-weight: 600;
  }

  .modal-body {
    font-size: 1.1rem;
  }

  .form-label {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .modal__button--close,
  .modal__button--action {
    font-size: 1.3rem;
  }
}
