// Color pallette (real color names)
//
$kombu-green: #344638;
$roman-silver: #7d8e95;
$bisque: #fbe0c3;
$macaroni-and-cheese: #ffbb98;

// Override semantic colors
//
$primary: $kombu-green;
$secondary: $roman-silver;
$tertiary: $bisque;

// Gray scale colors
$light: $gray-100;
$dark: $gray-900;

// Message colors (error, success, warning, informational)
$success: $green;
$warning: $yellow;
$error: $red;
$info: $cyan;

$theme-colors: (
  // Component colors
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "light": $light,
  "dark": $dark,
  // Message colors
  "success": $success,
  "warning": $warning,
  "error": $error,
  "info": $info
);

// Header

$search-box-shadow-color: #fbe0c3;

$btn-border-radius: 10px;

$dropdown-header-color: $gray-700;
$dropdown-border-radius: 8px;
/* offset-x | offset-y | blur-radius | spread-radius | color */
$dropdown-box-shadow: 0px 2px 5px 1px $gray-500;
