[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-environ = "*"
easy-thumbnails = "*"
djangorestframework-simplejwt = "*"
djangorestframework = "*"
dj-rest-auth = "*"
pyyml = "*"
uritemplate = "*"
pytest-django = "*"
coverage = "*"
django-autoslug = "*"
pillow = "*"
django-imagekit = "*"
django-filter = "*"
drf-nested-routers = "*"
django-import-export = "*"
django-mptt = "*"
django-redis = "*"
django-debug-toolbar = "*"
django-storages = "*"
boto3 = "*"
django-model-utils = "*"
django-extensions = "*"
django-cors-headers = "*"

[dev-packages]
black = "*"
pylint = "*"
isort = "*"
debugpy = "*"

[requires]
python_version = "3.9"
