[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-environ = "*"
easy-thumbnails = "*"
djangorestframework-simplejwt = "*"
djangorestframework = "*"
dj-rest-auth = "*"
pyyml = "*"
uritemplate = "*"
pytest-django = "*"
coverage = "*"
django-autoslug = "*"
pillow = "*"
django-imagekit = "*"
django-filter = "*"

[dev-packages]
black = "*"
pylint = "*"
isort = "*"

[requires]
python_version = "3.9"
