.not-found {
  text-align: center;
  margin: 30px 20px;

  &-illustration {
    max-width: 450px;
    width: 100%;
    margin-bottom: 20px;
  }

  &-title {
    margin-bottom: 20px;
  }

  &-go-home {
    font-size: 1.5rem;
    border-radius: 1.5rem;
    padding: 8px 20px;
  }
}
