.question {
  .headline {
    margin-top: 3rem;
    margin-bottom: 3rem;
    &-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 800px;
      margin: 0 auto;

      .report-flag {
        font-size: 1.5rem;
        align-self: end;
        cursor: pointer;
      }

      .content {
        margin: 3rem auto;

        h1 {
          font-size: 3rem;
        }
      }

      .btn-suggest {
        font-size: 1.8rem;
        align-self: end;
        border-radius: 20px;
      }
    }
  }

  .option {
    width: 600px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 30px;

    &-header {
      display: flex;
      align-items: center;
    }

    &-name {
      font-size: 2rem;
      font-weight: 600;
      text-decoration: underline;
    }

    &-image {
      width: 100%;
      height: 200px;
      object-fit: cover;
      margin: 20px 0;
    }

    &-footer {
      font-size: 1.2rem !important;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 15px 20px;
      &-right {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
    &-price {
      &-free,
      &-paid,
      &-open {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 5px 10px;
        border-radius: 10px;
      }

      &-free {
        background-color: $teal-200;
      }
      &-paid {
        background-color: $purple-200;
      }
      &-open {
        background-color: $cyan-200;
      }
    }
    &-votes {
      .btn {
        background-color: $bisque;
        font-size: 1.2rem !important;
      }
    }

    &-upvote {
      display: flex;
      align-items: center;
      gap: 10px;
      border-right: 3px solid $white;
    }
    &-downvote {
      display: flex;
      align-items: center;
      gap: 5px;
    }
    &-share {
      .btn {
        background-color: $bisque;
        color: $black;
        font-size: 1.2rem !important;
        border: none;
      }
    }
  }

  .btn-suggest {
    margin: 30px auto;
    font-size: 1.8rem;
    border-radius: 20px;
  }
}
